$desktop-above: 1300px;
$desktop: 1299px;

$tablet-above: 1161px;
$tablet: 1160px;

$mobile-above: 768px;
$mobile: 900px;

$mobile-s-above: 481px;
$mobile-s: 680px;

@mixin desktop-above {
  @media (min-width: $desktop-above) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: $desktop) {
    @content;
  }
}

@mixin tablet-above {
  @media screen and (min-width: $tablet-above) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin mobile-above {
  @media screen and (min-width: $mobile-above) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-s-above {
  @media screen and (min-width: $mobile-above) {
    @content;
  }
}

@mixin mobile-s {
  @media screen and (max-width: $mobile-s) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
